<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your nav-bar tag ---------->

<div class="container">

	
	<nav class="navbar navbar-expand-md navbar-dark  mb-0">
        <img src="../assets/Logo1.jpg" width="40" height="40">&nbsp;&nbsp;
        <a class="backgroung"  href="#">FIRE FIN TECHONOLIGIES</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">MISSION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">VISION</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTS</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Sign In</a>               
                </li>&nbsp;
                <li class="nav-item">
                    <a class="nav-link btn btn-success text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Register</a>
                </li>&nbsp;&nbsp;
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-success">search</button>
                  </div>
            </ul>
        </div>
        

           

    </nav>
    <img src="../assets/Images/frontendbackend.jpg" width="100%" height="500vh">
</div>

<!--Body-->
<!--About Orginazation-->
<section id="profile">
    <div class="background">
<div class="container mt-0">
<h3 class="text-center" >ABOUT OUR ORGANIZATION</h3>
<p>Fire fin technologies  have served the need of building websites for clients in India. 
    With the advance technology of today's web and tools. Whether it is a big corporate, 
    community or entrepreneurship start ups, we continue to satisfy clients through various services 
    relating to the web and improve the clients branding to draw in more customers.

</p>
<!--Mission-->
</div>
<div class="container mt-4">
    <h3 class="text-center">MISSION</h3>
    <p>Web Design and Development Company is to create innovative products and deliver unique services 
        which process quality and customer satisfaction to add value to your business. ... With the 
        aim to meet the clients demands, our teamwork to bring successful growth for various businesses</p>
</div>
<!--Vission-->
<div class="container mt-4">
    <h3 class="text-center">VISION</h3>
    <p>The vision of Firefin technologies  is to be a global leader in providing the best and unique 
        IT solution to improve your productivity and business strength. 
        Our try is to be actively updated with the latest trends of the business as well as the 
        technology used in the IT industry. We work with the aspect of creativity, 
        then comes trust to build a strong relationship with our clients for a long time of period.</p>
</div>

<!--About us-->
<section id="services">
    <div class="container text-center mt-4">
    <h3 class="title"> ABOUT US</h3>
    <div class="row text-centre">
        <!--about ajay-->
    <div class="col-md-3  services">
    <img src="../assets/Ajay.jpeg" class="rounded-circle" width="200px" height="200px">
    <h4>Ajay J N</h4>
    <p> web developer,
        Firefin technologies</p>
    </div>
<!--about naveen-->
    <div class="col-md-3 services">
        <img src="../assets/Naveen.jpeg" class="rounded-circle" width="200px" height="200px">
        <h4>Naveen Kumar C</h4>
        <p> web developer,
            Firefin technologies</p>
        </div>
<!--about ranjith-->
        <div class="col-md-3 services">
            <img src="../assets/Ranjit.jpeg" class="rounded-circle" width="200px" height="200px">
            <h4>Ranjith D R</h4>
            <p> web developer,
                Firefin technologies</p>
            </div>
            <!--about shubham-->
            <div class="col-md-3 services">
                <img src="../assets/Shupho2.jpg" class="rounded-circle" width="200px" height="200px">
                <h4>Shubham S K</h4>
                <p> web developer,
                    Firefin technologies</p>
                </div>
    </div>
     
    
    </div>
</section>

<!--All services-->
<section id="services">
    <div class="container text-center mt-4">
    <h3 class="title"> ALL SERVICES</h3>
    <div class="row text-centre">
    <div class="col-md-3  services">
    <img src="../assets/Images/logo.jpeg"  width="200px" height="200px">
    <h4>Logo design</h4>
    
    </div>
        <div class="col-md-3  services">
        <img src="../assets/Images/web-design.png"  width="200px" height="200px">
        <h4>Web design</h4>

        </div>
        <div class="col-md-3  services">
            <img src="../assets/Images/graphicdesign-logo.jpg"  width="200px" height="200px">
            <h4>Graphic design</h4>
        </div>
        <div class="col-md-3  services">
            <img src="../assets/Images/Website-maintanence.jpeg"  width="200px" height="200px">
            <h4>Website Maintenance</h4>
        </div>
    
    </div>
    </div>
</section>

<!--What is fire fin tech-->
<div class="container mt-4">
    <h3 class="text-center">WHAT IS FIRE FIN TECHONOLOGIES</h3>
    <p>Firefin technologies is an webdevelopement organisation.
        Firefin technologies is the best website development company . 
        With years of experience in Web Designing, our web developers have worked with various 
        successful startups, medium & large scale enterprises to produce web graphics and interactive 
        interfaces website design. We strive for your satisfaction and support.</p>
</div>
<!--Find us on social media links-->
<div class="container text-center" >
    <h3 class="text-center">FIND US ON SOCIAL MEDIA</h3>
    <a  href="">
        <img src="../assets/linkedin-logo.png" width="50px" height="50px">
    </a>
    <a  href="https://www.facebook.com/profile.php?id=100086390094165">
        <img src="../assets/Facebook-logo.png" width="50px" height="50px">
    </a>
    <a  href="https://www.instagram.com/accounts/edit/">
        <img src="../assets/Insta-logo.jpg" width="50px" height="50px">
    </a>
    <a  href="https://twitter.com/home">
        <img src="../assets/Twitter-logo.jpg" width="50px" height="50px">
    </a>
</div>

<!--Contacts-->
<div class="contact us mt-4">
    <div class="text-center mt-0">
    <h3 class="title text-center"> CONTACT US </h3>
         <P > For any query, suggestion or feedback, feel free to contact us using below details.</P>
             <P >The product information for comparison displayed on the website is of the insurers with whome our company has an agreement</P>
           <P > <i class="fa fa-phone"></i> +91-8861099299</P>
           <P><i class="fa fa-envelope-o">firefintechnologies@gmail.com</i></P>
        </div>
        </div>   
        <div>
            
            <p><b>REGISTER NOW </b></p>
            <input type="E mail" class="form-control" placeholder="enter your Email"><br>
            <button type="button" class="btn btn-outline-primary">REGISTER</button>
                
        
            </div>
         <br><br>
        <div class="form-box">
        <form>
            <div class="input-group">
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Last name">
            </div>
            <div class="input-group">
            <input type="number" placeholder="phone number">
            <input type="email" placeholder="Email">
            </div>
            <div class="text-area">
            <textarea rows="4" placeholder="Your message"></textarea>
            </div>
            <button type="submit" class="btn btn-success">send message</button>
            
            </form>
        </div>
    </div>
</section>


