

.navbar{
    background-color: rgb(32, 9, 70);
}
title{
  color: red;
}
.topnav a:hover {
    border-bottom: 3px solid red;
    
}
.column{
    float:left;
    width: 33.33%;
    padding: 5px;
}



